body {
  display: flex;
  background-color: rgb(243, 243, 243);
}

.navigation {
  display: grid;
  position: fixed;
  top: 0px;
  left: 0px;
  grid-template-columns: 20% 40% 40%;
  grid-template-rows: 100%;
  height: 6%;
  width: 100%;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    95deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(247, 156, 156, 1) 38%,
    rgba(246, 16, 16, 1) 100%
  );
  z-index: 1;
}
#logo-Xdisc {
  margin: auto auto auto 16%;
}
.dashboard_title {
  font-family: "Calibri";
  font-size: 200%;
  margin: auto auto auto 5%;
  color: rgb(255, 0, 0);
  font-weight: 300;
}
.container-left {
  display: flex;
  flex-direction: column;
  width: 11%;
  height: 100vh;
  background-color: rgb(243, 243, 243);
  box-sizing: border-box;
}

.container-left_buttons_container {
  position: fixed;
  width: 10%;
  text-align: center;
}
.container-left_button {
  width: 99%;
  font-family: "Calibri";
  font-size: 1em;
  font-weight: 300;
  border-radius: 10px;
  color: darkgrey;
  margin-top: 5%;
}
.container-left_button:hover {
  color: rgb(252, 12, 12);
  font-weight: 500;
  background-color: rgb(255, 212, 210);
  letter-spacing: 1px;
}
.ui-button {
  border-radius: 7px;
}
.container-right {
  display: flex;
  flex-direction: column;
  margin-top: 4%;
  margin-left: 1%;
  width: 90%;
  height: 100%;
}
.container-right_navigation_head {
  display: grid;
  height: 5em;
  grid-template-columns: 18% 18% 64%;
  grid-template-rows: 100%;
  align-items: center;
  justify-items: center;
}
.datepickerClass_1 {
  grid-column: 1/2;
  height: 2em;
  width: 16em;
  text-align: center;
  border-width: 1px;
  border-radius: 7px;
  border-color: rgb(226, 13, 13);
  font-family: "Calibri";
  color: rgb(131, 131, 131);
}
.datepickerClass_2 {
  grid-column: 2/3;
  height: 2em;
  width: 16em;
  text-align: center;
  border-width: 1px;
  border-radius: 7px;
  border-color: rgb(226, 13, 13);
  font-family: "Calibri";
  color: rgb(131, 131, 131);
}

.poka_liste-button {
  justify-self: baseline;
  grid-column: 3/4;
  height: 2.4em;
  width: 10em;
  text-align: center;
  border-width: 1px;
  border-radius: 7px;
  border-color: rgb(226, 13, 13);
  font-family: "Calibri";
  color: rgb(82, 77, 77);
  background-color: rgba(226, 13, 13, 0.068);
}

.poka_liste-button:hover {
  color: rgb(240, 39, 39);
  font-weight: 600;
  background-color: rgba(226, 13, 13, 0.247);
  cursor: pointer;
}

.ui-widget {
  border-width: 1px;
}

#lista_table {
  background-color: white;
  width: 99%;
  height: fit-content;
  align-self: center;
}
.zapotrzebowanie_polichlorek {
  display: flex;
  flex-direction: column;
  width: 95%;
  height: fit-content;
  align-self: center;
}
.zapotrzebowanie_polichlorek-head {
  display: grid;
  grid-template-columns: 20% 25% 25% 30%;
  grid-template-rows: 4em;
  align-items: center;
  justify-items: center;
  margin-top: 1em;
}
.h3text {
  font-family: "Calibri";
  color: rgb(82, 77, 77);
  grid-column: 1/2;
}
.h3anomalie {
  font-family: "Calibri";
  color: rgb(82, 77, 77);
  grid-column: 1/2;
  text-align: center;
}
.h1text {
  font-family: "Calibri";
  color: rgb(82, 77, 77);
  text-align: center;
  margin-top: 2em;
}
#datepicker_3 {
  grid-column: 2/3;
}
#datepicker_4 {
  grid-column: 3/4;
}
#zapotrzebowanie_polichlorek-button {
  grid-column: 4/5;
}
@media only screen and (max-width: 1500px) {
  .datepickerClass_1 {
    height: 2em;
    width: 11em;
  }
  .datepickerClass_2 {
    height: 2em;
    width: 11em;
  }
  .poka_liste-button {
    height: 2.4em;
    width: 7em;
  }
  .container-left_button {
    width: 90%;
    font-size: 0.7em;
  }
}
