@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap');

body{
    background-color: rgb(243, 243, 243);
    background-size: cover;
    margin-top: 0%;
}
.navigation{
    display: grid;
    position: fixed;
    grid-template-columns: 20% 40% 40%;
    grid-template-rows: 100%;
    height: 6%;
    width: 100%;
    background-color: rgb(238, 238, 238);
}
#logo-Xdisc{
margin: auto auto auto 16%;
}
.dashboard_title{
    font-family: "Calibri";
    font-size: 200%;
    margin: auto auto auto 5%;
    color: darkgrey;
    font-weight: 300;
}
.welcome-user{
    font-family: 'Roboto', sans-serif;
    font-size: small;
    color: darkgrey;
    font-weight: 100;
    margin: auto 8% auto auto;
    text-wrap: nowrap;
}
.desktop{
    display: flex;
}
.container-left{
    display: flex;
    flex-direction: column;
    width: 10vw;
    height: 100vh;
    background-color:rgb(243, 243, 243);
    box-sizing: border-box;
}
.container-right{
    margin: auto;
	width: 20px;
	height: 20px;
	border-radius: 50%;
    animation: animation 2s infinite;
}
.container-left_button{
    font-family: "Calibri";
    font-size: large;
    font-weight: 300;
    border-radius: 10px;
    color: darkgrey;
    margin-top: 5%;
}
.container-left_button:hover{
    color:white;
    font-weight: 700;
    background-color: orange;
    letter-spacing: 1px;
}

@keyframes animation {
	0%,
	100% {
		box-shadow: 0 -60px 0 0.40px #F34A53, 40px -40px 0 0 #F34A53, 60px 0 0 -10px #F34A53, 40px 40px 0 -10px #F34A53, 0 60px 0 -10px #F34A53, -40px 40px 0 -10px #F34A53, -60px 0 0 -10px #F34A53, -40px -40px 0 0 #F34A53;
	}
	12.5% {
		box-shadow: 0 -60px 0 0 #F34A53, 40px -40px 0 0.40px #F34A53, 60px 0 0 0 #F34A53, 40px 40px 0 -10px #F34A53, 0 60px 0 -10px #F34A53, -40px 40px 0 -10px #F34A53, -60px 0 0 -10px #F34A53, -40px -40px 0 -10px #F34A53;
	}
	25% {
		box-shadow: 0 -60px 0 -10px #F34A53, 40px -40px 0 0 #F34A53, 60px 0 0 0.40px #F34A53, 40px 40px 0 0 #F34A53, 0 60px 0 -10px #F34A53, -40px 40px 0 -10px #F34A53, -60px 0 0 -10px #F34A53, -40px -40px 0 -10px #F34A53;
	}
	37.5% {
		box-shadow: 0 -60px 0 -10px #F34A53, 40px -40px 0 -10px #F34A53, 60px 0 0 0 #F34A53, 40px 40px 0 0.40px #F34A53, 0 60px 0 0 #F34A53, -40px 40px 0 -10px #F34A53, -60px 0 0 -10px #F34A53, -40px -40px 0 -10px #F34A53;
	}
	50% {
		box-shadow: 0 -60px 0 -10px #F34A53, 40px -40px 0 -10px #F34A53, 60px 0 0 -10px #F34A53, 40px 40px 0 0 #F34A53, 0 60px 0 0.40px #F34A53, -40px 40px 0 0 #F34A53, -60px 0 0 -10px #F34A53, -40px -40px 0 -10px #F34A53;
	}
	62.5% {
		box-shadow: 0 -60px 0 -10px #F34A53, 40px -40px 0 -10px #F34A53, 60px 0 0 -10px #F34A53, 40px 40px 0 -10px #F34A53, 0 60px 0 0 #F34A53, -40px 40px 0 0.40px #F34A53, -60px 0 0 0 #F34A53, -40px -40px 0 -10px #F34A53;
	}
	75% {
		box-shadow: 0 -60px 0 -10px #F34A53, 40px -40px 0 -10px #F34A53, 60px 0 0 -10px #F34A53, 40px 40px 0 -10px #F34A53, 0 60px 0 -10px #F34A53, -40px 40px 0 0 #F34A53, -60px 0 0 0.40px #F34A53, -40px -40px 0 0 #F34A53;
	}
	87.5% {
		box-shadow: 0 -60px 0 0 #F34A53, 40px -40px 0 -10px #F34A53, 60px 0 0 -10px #F34A53, 40px 40px 0 -10px #F34A53, 0 60px 0 -10px #F34A53, -40px 40px 0 0 #F34A53, -60px 0 0 0 #F34A53, -40px -40px 0 0.40px #F34A53;
	}
}

