@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap");
#child2 {
  float: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 98%;
  color: darkgray;
  font-size: 150%;
  font-weight: 50;
  font-family: "Calibri";
}

#logo-fail_pin {
  margin-right: 2%;
  float: right;
  width: 150px;
}

body {
  background-color: rgb(243, 243, 243);
  background-size: cover;
  margin-top: 0%;
}
.desktop {
  display: flex;
}
.navigation {
  display: grid;
  position: fixed;
  top: 0px;
  left: 0px;
  grid-template-columns: 20% 40% 40%;
  grid-template-rows: 100%;
  height: 6%;
  width: 100%;
  /* background-color: rgb(226, 226, 226); */
  background: rgb(255, 255, 255);
  background: linear-gradient(
    95deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(247, 156, 156, 1) 38%,
    rgba(246, 16, 16, 1) 100%
  );
  z-index: 2;
}
#logo-Xdisc {
  margin: auto auto auto 16%;
}
.dashboard_title {
  font-family: "Calibri";
  font-size: 200%;
  margin: auto auto auto 5%;
  color: rgb(255, 0, 0);
  font-weight: 300;
}
.welcome-user {
  font-family: "Roboto", sans-serif;
  font-size: 100%;
  color: rgb(255, 255, 255);
  font-weight: 300;
  margin: auto 8% auto auto;
  text-wrap: nowrap;
}
.desktop {
  display: flex;
}

.buttons_sticky {
  position: static;
}
.container-left {
  display: flex;
  flex-direction: column;
  width: 11%;
  height: 100vh;
  background-color: rgb(243, 243, 243);
  box-sizing: border-box;
}

.container-left_buttons_container {
  position: fixed;
  width: 10%;
}
.container-left_button {
  width: 99%;
  font-family: "Calibri";
  font-size: 100%;
  font-weight: 300;
  border-radius: 10px;
  color: darkgrey;
  margin-top: 5%;
}
.container-left_button:hover {
  color: rgb(252, 12, 12);
  font-weight: 500;
  background-color: rgb(255, 212, 210);
  letter-spacing: 1px;
}

.container-right {
  display: flex;
  flex-direction: column;
  margin-top: 4%;
  margin-left: 1%;
  width: 90%;
  height: 100%;
}

.container-right_firs_row {
  width: 100%;
  height: 15vh;
  display: grid;
  align-items: center;
  justify-content: space-between;
  gap: 1%;
  grid-template-columns: 10% 10% 10% 10% 60%;
  grid-template-rows: 100%;
}

#sales_callendar {
  grid-column: 5/6;
  grid-row: 1/2;
  margin-top: 18%;
  margin-right: -20%;
}
.container-right_firs_row_data {
  display: flex;
  height: 80%;
  width: 100%;
  margin-top: 25%;
  background-color: white;

  box-shadow: 8px 8px 26px 7px rgba(210, 218, 218, 1);
  border-radius: 15px;
  text-align: center;
  justify-self: center;
  align-self: center;
  box-sizing: border-box;
  font-family: "Calibri";
  font-weight: 100;
  color: darkgray;
  font-size: 150%;
  transition: background-color 0.3s, font-size 0.3s, font-weight 0.3s,
    color 0.3s;
}

.container-right_firs_row_data:hover {
  background-color: rgb(222, 230, 241);
  color: blue;
  font-weight: 500;
  font-size: 180%;
  cursor: pointer;
}

.container-right_firs_row_data_text {
  margin: auto;
}

.container-right_firs_row_data_text_small {
  font-size: 70%;
}

.container-right_second_row {
  width: 100%;
  height: 50vh;
  display: grid;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  gap: 1%;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 100%;
  margin-top: 2%;
}

.container-right_second_row_target {
  background-color: white;
  border-radius: 15px;
  box-shadow: 8px 8px 26px 7px rgba(210, 218, 218, 1);
  grid-row: 1/2;
  grid-column: 1/2;
  height: 95%;
  width: 95%;
}
.container-right_second_row_history {
  background-color: white;
  border-radius: 15px;
  box-shadow: 8px 8px 26px 7px rgba(210, 218, 218, 1);
  justify-self: center;
  grid-row: 1/2;
  grid-column: 2/3;
  height: 95%;
  width: 95%;
}

.container-right_second_row_sales {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(243, 243, 243);
  border-radius: 15px;
  justify-self: start;
  grid-row: 1/2;
  grid-column: 3/4;
  height: 95%;
  width: 85%;
}

#target_bar {
  height: 95%;
  width: 90%;
  margin: auto;
  opacity: 0.7;
  transition: opacity 0.3s;
}
#target_bar:hover {
  opacity: 1;
}

#sales-history {
  height: 95%;
  width: 90%;
  margin: auto;
  opacity: 0.7;
  transition: opacity 0.3s;
}
#sales-history:hover {
  opacity: 1;
}

.container-right_second_row_sales_content {
  position: relative;
  display: flex;
  width: 95%;
  height: 20%;
  border-radius: 15px;
  background-color: white;
  box-shadow: 8px 8px 26px 7px rgba(210, 218, 218, 1);
  font-family: "Calibri";
  text-align: center;
  font-weight: 100;
  color: darkgray;
  font-size: 150%;
  transition: font-size 0.3s, background-color 0.3s, font-weight 0.3s,
    color 0.3s;
}
.container-right_second_row_sales_content:hover {
  background-color: rgb(222, 230, 241);
  color: blue;
  font-weight: 500;
  font-size: 180%;
}

.container-right_second_row_data_text {
  margin: auto;
}

.container-right_second_row_data_text_small {
  font-size: 70%;
}

.container-right_three_row {
  width: 99%;
  height: 10vh;
  display: grid;
  align-items: center;
  justify-content: space-between;
  grid-template-columns: repeat(10, 10%);
  grid-template-rows: 100%;
  margin-top: 2%;
  font-family: "Calibri";
  font-weight: 100;
  color: darkgray;
  font-size: 150%;
  text-align: center;
}

.alerts_gray {
  visibility: hidden;
  display: flex;
  height: 100%;
  background-color: white;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-left-style: solid;
  border-top-style: solid;
  border-bottom-style: solid;
  border-width: 1px;
  border-color: darkgray;
}

.alerts_green {
  visibility: hidden;
  display: flex;
  height: 100%;
  background-color: rgb(170, 250, 170);
  background: rgb(34, 249, 34);
  background: linear-gradient(
    90deg,
    rgba(34, 249, 34, 1) 0%,
    rgba(170, 250, 170, 1) 35%,
    rgba(242, 255, 242, 1) 100%
  );
  grid-column: 2/3;
  border-top-style: solid;
  border-bottom-style: solid;
  border-width: 1px;
  border-color: darkgray;
  justify-content: center;
  align-content: center;
  color: green;
  opacity: 0.7;
  font-size: 120%;
  transition: font-size 0.3s, background-color 0.3s, font-weight 0.3s,
    color 0.3s;
}
.alerts_green:hover {
  visibility: hidden;
  background: none;
  background-color: green;
  color: white;
  font-weight: 800;
  font-size: 180%;
}
.alerts_yellow {
  visibility: hidden;
  display: flex;
  height: 100%;
  background-color: rgb(248, 247, 153);
  background: rgb(254, 252, 71);
  background: linear-gradient(
    95deg,
    rgba(254, 252, 71, 1) 0%,
    rgba(255, 254, 159, 1) 35%,
    rgba(255, 255, 234, 1) 100%
  );
  grid-column: 3/4;
  border-top-style: solid;
  border-bottom-style: solid;
  border-width: 1px;
  border-color: darkgray;
  justify-content: center;
  align-content: center;
  color: rgb(240, 147, 25);
  opacity: 0.7;
  font-size: 120%;
  transition: font-size 0.3s, background-color 0.3s, font-weight 0.3s,
    color 0.3s;
}
.alerts_yellow:hover {
  visibility: hidden;
  background: none;
  background-color: yellow;
  color: white;
  font-weight: 800;
  font-size: 180%;
}

.alerts_orange {
  visibility: hidden;
  display: flex;
  height: 100%;
  background-color: rgb(255, 211, 145);
  background: rgb(255, 170, 42);
  background: linear-gradient(
    95deg,
    rgba(255, 170, 42, 1) 0%,
    rgba(255, 209, 156, 1) 35%,
    rgba(255, 243, 225, 1) 100%
  );
  grid-column: 4/5;
  border-top-style: solid;
  border-bottom-style: solid;
  border-width: 1px;
  border-color: darkgray;
  justify-content: center;
  align-content: center;
  color: rgb(250, 115, 4);
  opacity: 0.7;
  font-size: 120%;
  transition: font-size 0.3s, background-color 0.3s, font-weight 0.3s,
    color 0.3s;
}
.alerts_orange:hover {
  visibility: hidden;
  background: none;
  background-color: orangered;
  color: white;
  font-weight: 800;
  font-size: 180%;
}

.alerts_red {
  visibility: hidden;
  display: flex;
  height: 100%;
  background-color: rgb(255, 145, 145);
  background: rgb(255, 22, 22);
  background: linear-gradient(
    95deg,
    rgba(255, 22, 22, 1) 0%,
    rgba(255, 145, 145, 1) 35%,
    rgba(255, 233, 233, 1) 100%
  );
  grid-column: 5/6;
  border-top-style: solid;
  border-bottom-style: solid;
  border-right-style: solid;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-width: 1px;
  border-color: darkgray;
  justify-content: center;
  align-content: center;
  color: rgb(241, 41, 41);
  opacity: 0.7;
  font-size: 120%;
  transition: font-size 0.3s, background-color 0.3s, font-weight 0.3s,
    color 0.3s;
}

.alerts_red:hover {
  visibility: hidden;
  background: none;
  background-color: rgb(248, 23, 23);
  color: white;
  font-size: 180%;
  font-weight: 800;
}

.alerts_vinyl {
  display: flex;
  height: 100%;
  background-color: white;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  grid-column: 7/8;
  border-left-style: solid;
  border-top-style: solid;
  border-bottom-style: solid;
  border-width: 1px;
  border-color: darkgray;
}

.alerts_cd {
  display: flex;
  height: 100%;
  background-color: white;
  grid-column: 9/10;
  border-top-style: solid;
  border-bottom-style: solid;
  border-width: 1px;
  border-color: darkgray;
}

.alerts_vinyl_cont {
  display: flex;
  height: 100%;
  background-color: rgb(243, 243, 243);
  grid-column: 8/9;
  border-top-style: solid;
  border-bottom-style: solid;
  border-width: 1px;
  border-color: darkgray;
  justify-content: center;
  align-content: center;
  color: rgb(110, 110, 110);
  opacity: 0.7;
  font-size: 120%;
  transition: background-color 0.3s, font-weight 0.3s, color 0.3s;
}
.alerts_vinyl_cont:hover {
  background-color: rgb(222, 230, 241);
  color: blue;
  font-weight: 500;
}

.alerts_cd_cont {
  display: flex;
  height: 100%;
  background-color: rgb(243, 243, 243);
  grid-column: 10/11;
  border-top-style: solid;
  border-bottom-style: solid;
  border-right-style: solid;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-width: 1px;
  border-color: darkgray;
  justify-content: center;
  align-content: center;
  color: rgb(110, 110, 110);
  opacity: 0.7;
  font-size: 120%;
  transition: background-color 0.3s, font-weight 0.3s, color 0.3s;
}
.alerts_cd_cont:hover {
  background-color: rgb(222, 230, 241);
  color: blue;
  font-weight: 500;
}

.alerts_data {
  margin: auto;
}

.container-right_four_row {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  margin-top: 4%;
}
.container-right_five_row {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  margin-top: 4%;
}
.container-right_six_row {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  margin-top: 4%;
}
.container-right_seven_row {
  width: 100%;
  height: 95vh;
  display: flex;
  flex-direction: column;
  margin-top: 4%;
}
.container-right_seven_row_bars {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding-left: 5%;
  background-color: white;
  box-shadow: 8px 8px 26px 7px rgba(210, 218, 218, 1);
  border-radius: 15px;
}
.target-bars_left {
  padding-top: 1%;
  padding-bottom: 1%;
}
#bar-target_cd {
  scale: 0.8;
}

.dive-heads {
  font-size: 350%;
  color: darkgray;
  font-family: "Calibri";
  font-weight: 100;
  text-align: center;
}

#orders-for-today_table {
  width: 99%;
  height: fit-content;
  align-self: center;
}

#orders-entry-today_table {
  width: 99%;
  height: fit-content;
  align-self: center;
}

#invoice-today_table {
  width: 99%;
  height: fit-content;
  align-self: center;
}

@media only screen and (max-width: 1500px) {
  .container-left_button {
    font-size: 80%;
  }
  .container-right_firs_row_data {
    font-size: 110%;
  }
  .container-right_firs_row_data:hover {
    font-size: 120%;
  }
  .container-right_second_row_sales_content {
    font-size: 110%;
  }
  .container-right_second_row_sales_content:hover {
    font-size: 120%;
  }
  #sales_callendar {
    scale: 0.7;
    margin-right: 15%;
  }
}
